.container {
    margin: 0 auto;
    text-align: center;
}

.profileImage {
    border-radius: 50%;
    display: block;
    width: 12em;
    margin: 0 auto;
    margin-top: 4em;
    margin-bottom: 2em;
}
