
h1, p {
  font-family:  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root {
  background-color: white;
  height: 100%;
}
body {
  background-color: white !important;

}
.App {
  font-family: sans-serif;
  text-align: center;
}
.body {
  width: 100%;
  height: 100%;
}


.questions {
  width: 70%;
  margin: 3em auto;
}

.codeSubmission {
  width: 100%;
  margin: 0em auto;
  background-color: aliceblue;
}

#questions {
  margin-bottom: 1em;
}

.singout-button {
  font-size: 12px;
  margin-left: 1em;
}
.welcome-msg{
  text-align: center;
  width: 70%;
  margin: 1em auto;
}

.signin-msg{
  text-align: center;
}
.send-button{
    display: block;
    margin: 12px auto;
}
.theEditor {
  display: block;
  margin: 0 auto;
  width: 50em !important;
}

.week-in-past-problems {
  text-align: center;
  margin: 1em;
}


.selectProblem{
  margin: 1em auto;
  width: 13em;
}

.userNav {
  display: inline-block;
}

.nav-link{
  display: inline !important;
}

.gistFold {
  width: 100%;
  height: 2em;
  font-size: 3em !important;
  text-align: center;
  margin-top: 30px;
  z-index: -50;
}
.NavBar {
  background-color: aliceblue;
}

.gistOuter {
  color: red;
}

.notify {
  text-align: center;
  margin: 0em auto;
  color: red;
  position: fixed;
  bottom: 10px;
}